.header{
    background-color:;
    width:1000px;
    height:100px;
    margin:auto;
	
}
.header button{
	float:right;
	width:150px;
	height:23px;
	border:none;
	font-weight:bold;
}
.header1{
	background-color:#1C5978;
	width:100%;
	height:50px;
}
.headern {
	margin:auto;
	width:1000px;
	height:50px;
	padding-top:19px;
	font-weight:bold;
	font-size:15px;
	font-family:arial;
	color:white;
}
.date{
	
	position: absolute;
	top: 10px; 
    right: 10px;
}
.body0{
	width:100%;
	height:700px;
}
.body01{
	width:1050px;
	height:700px;
	margin:auto;
}
.c7{
	list-style:none;
	width:216px;
    margin:0;
	padding:0;
	border:solid 1px #000;
	border-top:none;
	font-size:14px;
	font-family:arial;
	
}
.bold{
	font-weight:bold;
}
.c7 li{
	padding:10px;
	border-bottom:solid 1px #000;
}
.c7 li:nth-child(1){
	padding-top:30px;
}
.c7 li:nth-child(odd){
	font-weight:bold;
}
.c7 li:nth-child(even){
	border-bottom:solid 2px #000;
}
.pm{
	border-bottom:dotted 1px #000;
	width:400px;
}
.clickhere{
	text-align:center;
	border:solid 1px #000;
}
.logintable{
	border:1px black;
	border-collapse:collapse;
	color:#242424;
    font-size:14px;
	font-family:Tahoma, Arial, sans-serif;
	height:300px;
    font-weight:bold;
	width:200px;
}
.logintable tr td{
	border:1px black;
	padding:5px;
}
.bin1{
	height:700px;
	width:255px;
	background-color:;
	float:left;
}
.l1{
	font-size:12px
}
.bin2{
	height:350px;
	width:784px;
	float:right;
	font-family:Tahoma, Arial, sans-serif;
}
.ko1 {
	padding-top:35px;
	font-weight:bold;
}
.t0 td{
	border:none;
	text-align:left;
}
hr {
	width:550px;
	float:left;
	size:1px;
}
.cell {
	width:200px;
	height:25px;
}
.t1{
	border:1px solid grey;
	border-collapse:collapse;
	width:784px;
	height:25px;
	font-size:10px;
	text-align:center;
}
.t2{
	border:2px solid black;
	width:784px;
	height:25px;
	font-size:13px;
	font-weight:bold;
	border-collapse:collapse;
}
.t2 td{
	padding:5px;
}
.t2 tr:nth-child(1){
	background-color:#EEE;
}
select{
	width:177px;
}
.t2 input[type="button"]
{
	background-color:#5C70A5;
	color:white;
}
.t3{
	border:solid 2px black;
	width:784px;
	height:22px;
	font-size:15px;
	font-family:arial;
	text-align:center;
	border-collapse:collapse;
}
.t3 input[type="button"]
{
	background-color:#5C70A5;
	color:white;
}
.t3 table,tr,th,td{
	border:solid 2px;
	border-collapse:collapse;
}
.t3 td, .t3 th{
	padding:4px;
}
.noborder {
	border:none;
}
.noborder td{
	border:none
}
.bin3{
	height:350px;
	width:784px;
	background-color:;
	float:right;
}
.footer1{
	background-color:#1C5978;
	width:100%;
	height:50px;
}