body{
	margin:0;
}
.header{
   margin:auto;
   width:1000px;
}
.header button{
	float:right;
	width:150px;
	height:23px;
	border:none;
	font-weight:bold;
}
.header1{
	background-color:#1C5978;
	width:100%;
	height:50px;
}
.h1{
	background-color:;
	color:white;
	width:1000px;
	height:50px;
	margin:auto;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding-top:19px;
}
.body{
	background-color:;
	width:1050px;
	height:700px;
	margin:auto;
}
.left{
	background-color:;
	height:700px;
	width:255px;
	float:left;
}
.c7{
	list-style:none;
	font-weight:;
	width:216px;
    margin:0;
	padding:0;
	border:solid 1px #000;
	border-top:none;
	font-size:14px;
	font-family:arial;
	
}
.bold{
	font-weight:bold;
}
.c7 li{
	padding:10px;
	border-bottom:solid 1px #000;
}
.c7 li:nth-child(1){
	padding-top:30px;
}
.c7 li:nth-child(odd){
	font-weight:bold;
}
.c7 li:nth-child(even){
	border-bottom:solid 2px #000;
}
.right{
	
	width:784px;
	height:700px;
	float:right;
	background-color:;
}
h3 {
	color:#242424;
	font-size:15px;
	font-family:Tahoma, Arial, sans-serif;
	margin-top:35px;
}
hr {
	width:550px;
	size:1px;
	float:left;
	margin-top:0;
}
.bigtable{
	border:1px solid black;
	border-collapse:collapse;
	height:615px;
	width:784px;
	font-weight:bold;
	font-family:arial;
}
.bigtable tr {
	border:1px solid black;
}
.innertable{
	border:1px solid black;
	border-collapse:collapse;
	width:750px;
	height:550px;
	margin:auto;
	font-family:arial;
	font-size:11px;
	padding-left:5px;
}
.innertable  td{
	padding-left:10px;
}
.in1 {
	height:20px;
	
}
.innertable select{
	width:177px;
}
.innertable img {
	width:645px;
}
.in2 {
	height:30px;
}
.in2 input[type="text"]
{
    height:45px;	
}
.co1 [type="button"]
{
	background-color:#5C70A5;
	color:white;
}
.co1 {
	border-left:none;
}
.bu {
	height:280px;
	width:645px;
}
.footer{
	background-color:#1C5978;
	width:100%;
	height:50px;
}